.aboutme-wrapper {
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  z-index: 1;
  min-height: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 15px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  min-height: 20vh;
  display: grid;
  place-items: center;
}

.intro {
  font-family: Ubuntu, sans-serif;
  text-align: center;
  min-height: 20vh;
}

.carousel {
  min-height: 5vh;
  max-width: 500px;
}

.intro-h1 {
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.intro-h2 {
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.intro-h3 {
  margin: 10px;
  margin-bottom: 20px;
}

.intro-h4 {
  margin: 10px;
  font-size: 252px;
}

.tech-title {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(170, 170, 170);
}

.tech-data {
  margin-top: 20px;
  margin-bottom: 20px;
}

.carousel-p {
  padding-bottom: 50px;
  font-size: 20px;
  color: aliceblue;
}

.tech-h3 {
  margin-top: 80px;
  padding-bottom: 20px;
  color: aliceblue;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 40px;
  font-size: 25px;
}

.lower-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(#2980b9, 0.5);
}

.lower-section {
  font-family: "Saira", sans-serif;
  min-height: 20vh;
  width: 100%;
  background: #2c3e50;
  display: grid;
  place-items: center;
}

.section-divider {
  position: relative;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.section-divider:before {
  color: rgb(170, 170, 170);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f013";
  width: 6.5rem;
  height: 6.5rem;
  background: #2c3e50;
  border-radius: 100%;
  position: absolute;
  top: -3.25rem;
  left: calc(50% - 3.25rem);
  color: rgba(#2980b9, 0.5);
  line-height: 6.5rem;
  text-indent: 1.75rem;
  font-size: 3rem;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
}

.card-wrapper {
  width: 260px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin: 5px;
}

@media screen and (min-width: 350px) {
  .card-wrapper {
    min-width: 330px;
    margin: 20px 0px 20px 0px;
  }
}

@media screen and (min-width: 440px) {
  .card-wrapper {
    min-width: 380px;
    margin: 20px;
  }
}

@media screen and (min-width: 500px) {
  .card-wrapper {
    min-width: 450px;
    margin: 20px;
  }
}

@media screen and (min-width: 550px) {
  .card-wrapper {
    min-width: 500px;
    margin: 20px;
  }
}

@media screen and (min-width: 600px) {
  .card-wrapper {
    min-width: 550px;
    margin: 20px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!
.MuiPaper-root {
  background-color: #f3f6f9;
}
*/
