.aboutme-wrapper {
  background-color: #f6f6f6;
  padding-top: 20px;
  z-index: 1;
  min-height: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 15px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  min-height: 20vh;
  display: grid;
  place-items: center;
}

.intro {
  font-family: Ubuntu, sans-serif;
  text-align: center;
  min-height: 20vh;
  display: grid;
  place-items: center;
}

.intro-text {
  text-align: left;
  max-width: 1200px;
  margin: 10px;
}

.carousel {
  min-height: 5vh;
  max-width: 500px;
}

.intro-h1 {
  font-family: "Saira", sans-serif;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.intro-h2 {
  font-size: 20px;
  text-align: center;
  font-family: Ubuntu, sans-serif;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro-h4 {
  margin: 10px;
  font-size: 252px;
}

.tech-title {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(170, 170, 170);
}

.tech-data {
  margin-top: 20px;
  margin-bottom: 20px;
}

.carousel-p {
  padding-bottom: 50px;
  font-size: 20px;
  color: aliceblue;
}

.tech-h3 {
  margin-top: 80px;
  padding-bottom: 20px;
  color: aliceblue;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 40px;
  font-size: 25px;
}

.lower-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(#2980b9, 0.5);
}

.lower-section {
  font-family: "Saira", sans-serif;
  min-height: 20vh;
  width: 100%;
  background: #2c3e50;
  display: grid;
  place-items: center;
}

.section-divider {
  position: relative;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.section-divider:before {
  color: rgb(170, 170, 170);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f013";
  width: 6.5rem;
  height: 6.5rem;
  background: #2c3e50;
  border-radius: 100%;
  position: absolute;
  top: -3.25rem;
  left: calc(50% - 3.25rem);
  color: rgba(#2980b9, 0.5);
  line-height: 6.5rem;
  text-indent: 1.75rem;
  font-size: 3rem;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
}

.card-wrapper {
  width: 260px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin: 5px;
}

@media screen and (min-width: 350px) {
  .card-wrapper {
    min-width: 330px;
    margin: 20px 0px 20px 0px;
  }
}

@media screen and (min-width: 440px) {
  .card-wrapper {
    min-width: 380px;
    margin: 20px;
  }
}

@media screen and (min-width: 500px) {
  .card-wrapper {
    min-width: 450px;
    margin: 20px;
  }
}

@media screen and (min-width: 550px) {
  .card-wrapper {
    min-width: 500px;
    margin: 20px;
  }
}

@media screen and (min-width: 600px) {
  .card-wrapper {
    min-width: 550px;
    margin: 20px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade {
  opacity: 0;
  transition: opacity 250ms ease-ins;
}

.fade.appear {
  opacity: 1;
}

.fade-from-bot {
  transform: translateY(90%);
}

.fade-from-left {
  transform: translateX(-60%);
}

.fade-from-right {
  transform: translateX(60%);
}

.fade-from-right,
.fade-from-left,
.fade-from-bot {
  transition: transform 450ms ease-in;
}

.fade-from-right.appear,
.fade-from-left.appear,
.fade-from-bot.appear {
  transform: translateX(0);
}

.info-wrapper {
  width: 100%;
  background-color: rgb(228, 228, 228);
  display: flex;
  justify-content: center;
}

.info-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-1 {
  font-family: Ubuntu, sans-serif;
  margin: 20px 10px 20px 10px;
  min-width: 400px;
  width: 45%;
  display: grid;
  place-items: end;
}

.info-2 {
  min-width: 400px;
  width: 45%;
  display: grid;
  place-items: start;
  margin-top: 40px;
}

.intro-p {
  margin: 5px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 500px;
}

.gear-png {
  max-width: 250px;
}

@media screen and (max-width: 819px) {
  .info-2 {
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    place-items: center;
  }
  .info-1 {
    margin: 0;
    min-width: 500px;
  }
  .intro-p {
  }
  .info-container {
    max-width: 290px;
  }
}

@media screen and (max-width: 510px) {
  .info-2 {
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    place-items: center;
  }
  .info-1 {
    margin: 0;
    min-width: 400px;
  }
  .intro-p {
  }
  .info-container {
    max-width: 290px;
  }
}

@media screen and (max-width: 410px) {
  .info-2 {
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    min-width: 300px;
    max-width: 320;
    place-items: center;
  }
  .info-1 {
    margin: 0;
    min-width: 300px;
  }
  .intro-p {
  }
  .info-container {
    max-width: 280px;
  }
}

@media screen and (max-width: 320px) {
  .info-2 {
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    min-width: 280px;
    place-items: center;
  }
  .info-1 {
    margin: 0;
    min-width: 280px;
  }
  .intro-p {
  }
  .info-container {
    max-width: 280px;
  }
}
