html,
body {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  padding-top: 60px;
  margin: 0;
  position: relative;
  /*min-height: 100vh;
  padding-bottom: 610px;*/
  background-color: rgb(255, 255, 255);
  z-index: 0;
}

/*
@media screen and (min-width: 576px) {
  #root {
    padding-bottom: 313px;
  }
}

@media screen and (min-width: 821px) {
  #root {
    padding-bottom: 281px;
  }
}
*/
