html,
body {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  padding-top: 60px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  backface-visibility: hidden;
  background-color: rgb(255, 255, 255);
  z-index: 0;
}
